
/*------------------------- Fonts ------------------------*/
@font-face {
	font-family: 'anticregular';
	src: url('../fonts/antic-regular-webfont.eot');
	src: url('../fonts/antic-regular-webfont.eot?#iefix') format('embedded-opentype'),  url('../fonts/antic-regular-webfont.woff') format('woff'),  url('../fonts/antic-regular-webfont.ttf') format('truetype'),  url('../fonts/antic-regular-webfont.svg#anticregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
/*------------------------- Layout styles ------------------------*/
body {
	margin:0;
	font-family:Arial, Helvetica, sans-serif;
	background:url(../images/bg-body.jpg);
	font-size:12px;
}
a {
	outline:none;
}
img { cursor: pointer;}
a.fancybox img { display:inline;}
a img {
	border:0;
	display:block;
}
p {
	font-size:12px;
	line-height:24px;
	letter-spacing:0.05em;
	color:black;
}
p a {
	color:#1bb5ac;
        text-decoration:none;
}
p a:hover {
	color:#1bb5ac;
        text-decoration:underline;
}



/*------------------------- Body ------------------------*/
#body {
	margin:0 auto 97px;
	min-height:1005px;
	padding:38px 29px 0;
	width:902px;
}
#body.home .blog {
	overflow:hidden;
	border-bottom: 1px solid #dddddd;
}
#body.home .blog > img {
	display:block;
	float:left;
	margin:11px 0 0 220px;
}
#body.home .blog div {
	float:right;
	padding:5px 0 0;
	width:430px;
}
#body.home .blog div img {
	display:block;
	margin:0 0 0 0;
}
#body.home .blog div h3 {
	color:#B67E05;
	font-family:anticregular;
	font-size:20px;
	font-weight:600;
	letter-spacing:.1em;
	line-height:24px;
	margin-bottom:3px;
	text-align:right;
	text-indent:110px;
}
h1 {
	font-family:anticregular;       
	font-size:32px;
	font-weight:900;
	color: black;
        line-height:32px;
	letter-spacing:.5em;
	margin-bottom:3px;
	text-align:left;
        float:left;
        position: absolute;

}
#body.home .blog div p {
	margin:0;
	text-align:right;
}
#body.home .article {
	margin:63px 0 0;
	overflow:hidden;
border-bottom: 1px solid #dddddd;
}
#body.home .article div {
	float:left;
	padding:0 0 0 25px;
	
}
#body.home .article div h3 {
	color:#B67E05;
	font-family:anticregular;
	font-size:20px;
	font-weight:600;
	letter-spacing:.1em;
	line-height:24px;
	margin:6px 0 3px;
	text-align:left;
}
#body.home .article div p {
	margin:0 0 24px;
	text-align:left;
}
#body.home .article > img {
	display:block;
	float:right;
	margin:0 44px 0 0;
}
#body.home .news {
	overflow:hidden;
	padding:37px 0 0;
border-bottom: 1px solid #dddddd;
}
#body.home .news > img {
	display:block;
	float:left;
	margin:0 0 0 80px;
}
#body.home .news div {
	float:right;
	padding:25px 0 0;
	width:430px;
}
#body.home .news div h3 {
		color:#B67E05;
	font-family:anticregular;
	font-size:20px;
	font-weight:600;
	letter-spacing:.1em;
	line-height:24px;
	margin:6px 0 3px;
	text-align:right;
}
#body.home .news div p {
	margin:0 0 24px;
	text-align:right;
}



#body.home .blog div h3 a, #body.home .article div h3 a, #body.home .news div h3 a {
	color:#1bb5ac;
	text-decoration:none;
}
#body.home .blog div h3 a:hover, #body.home .article div h3 a:hover, #body.home .news div h3 a:hover {
	text-decoration:underline;
}
