{% assign repository = site.github.public_repositories 
    | where: "name", include.reponame 
    | first %}
  <div class="github-repo-card ">
    <div class="d-flex">
      <h1 >
        <a href="{{ repository.html_url }}">
                <i class="fab fa-git-alt gh-icon"></i><span> {{ repository.owner.login }} /</span>
          {{ repository.name }}
        </a>
    </h1>
    </div>
    <div class="github-repo-text">{{ repository.description }}</div>
    <div class="stats-icons">
      {% if repository.stargazers_count %}
        <a href="{{ repository.html_url }}/stargazers" >
            <i class="fas fa-star gh-icon"></i>{{ repository.stargazers_count }}
        </a>
      {% endif %}
      {% if repository.forks_count %}
        <a href="{{ repository.html_url }}/network/members" >
            <i class="fas fa-code-branch gh-icon"></i>{{ repository.forks_count }}
        </a>
      {% endif %}
    </div>
  </div> 
  
