---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

ul.photostream {

    list-style: none;
    margin: 18px 0 24px 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}


ul.photostream li {
    display: inline-block;
    height: 150px;
    weight: 150px;
    margin: 0 12px 12px 0;
    padding: 0;

}

@media screen and (max-width: 600px) {
    ul.photostream { 
        display: none;
    }
}

.github-component {

    font-family: Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
    width: 33%;
}

.github-component h1 {
    font-size: 20px;
    line-height: 20px;
}

.github-component a { 
    text-decoration: none;
}

.text-left {

    text-align: left !important;

}
.p-3 {

    padding: 16px !important;

}
.height-full {

    height: 100% !important;

}
.bg-white {

    background-color: #fff !important;

}
.box-shadow {

    box-shadow: 0 1px 1px rgba(27,31,35,0.1) !important;

}
.rounded-1 {

    border-radius: 3px !important;

}

.d-flex {

    display: flex !important;

}
.mb-1 {

    margin-bottom: 4px !important;

}
.flex-items-start {

    align-items: flex-start !important;

}
.flex-justify-between {

    justify-content: space-between !important;

}

.ws-normal {

    white-space: normal !important;

}
.mb-2 {

    margin-bottom: 8px !important;

}
.text-gray {

    color: #586069 !important;
    font-size: 14px;
    line-height: 21px;

}

.d-flex {

    display: flex !important;

}
.f6 {

    font-size: 12px !important;

}
.d-inline-block {

    display: inline-block !important;

}
.mr-4 {

    margin-right: 24px !important;

}
.mr-1 {

    margin-right: 4px !important;

}