---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
// Custom scss goes in _sass for import
@import "github-repo-card";


a { text-decoration: none; }

article  a, article a:visited { color: #39626e; }

header a, header a:visited, article.archive__item a, article.archive__item a:visited { color: #343434; }

kbd {
    background-color: #eee;
    border-radius: 3px;
    border: 1px solid #b4b4b4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
    color: #333;
    display: inline-block;
    font-size: .85em;
    font-weight: 700;
    line-height: 1;
    padding: 2px 4px;
    white-space: nowrap;
   }

ul.photostream {

    list-style: none;
    margin: 18px 0 24px 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

ul.photostream li {
    display: inline-block;
    height: 150px;
    weight: 150px;
    margin: 0 12px 12px 0;
    padding: 0;

}

@media screen and (max-width: 600px) {
    ul.photostream { 
        display: none;
    }
}

p > code, a > code, li > code, figcaption > code, td > code {
    background: #e3dfdf;
}

.social-icons .fa-satellite { color: #4c76bd; }